<p id="notice"><%= notice %></p>




<div class="container my-5">
  <div class="bg-dark">
    <h1 class="text-white">TOEIC</h1>
    <p class="text-white">Choisis ton Success Partner</p>
  </div>
  <div class="row">
    <% @services.each do |service| %>
      <div class="col-12 col-sm-4 mb-3 border">
        <div class="bg-white rounded shadow h-100">
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://resize.programme-television.ladmedia.fr/r/670,670/img/var/premiere/storage/images/tele-7-jours/news-tv/replay-la-vie-sauvage-france-2-l-incroyable-documentaire-animalier-4318529/77722107-1-fre-FR/REPLAY-La-vie-sauvage-France-2-l-incroyable-documentaire-animalier.jpg)" class= 'movie-img rounded-top'></div>
          <strong class="mx-3"><%= service.name %> <span class="text-muted font-weight-normal"></span></strong>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <p> <%= service.price%>€</p> <i class="fas fa-star star-yellow"></i>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <div>
              <small class="text-right flex-shrink-0"><%= link_to 'Réserver', service_path, method: :delete, data: { confirm: "Are you sure you want to book this service?"}, class: 'text-danger' %></small>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= link_to 'New Service', new_service_path %>
