
   <!-- <button type='button' class='btn btn-flat' data-toggle='modal'>-->
    <%= link_to 'Retourner aux services', services_path, id: 'btn-return_service'  %>
    <!--</button>-->

<div class ="container_i">
  <div class="barre_de_gauche">
    <div class="avatar_and_heading">
      <h1><%= @service.name %></h1>
    </div>

    <div class="rating">
      <div class="stars">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>
    </div>
    <br>
    <br>
     <% if @service.photo.attached? %>
      <%= cl_image_tag @service.photo.key, height: 300, width: 500, crop: :fill %>
      <% end%>
    <br>
    <br>

    <div>
      <p> <%= @service.description %></p>
    </div>
  </div>

  <div class="barre_de_droite">
    <div class="booking">
      <h2><%= @service.price %>€</h2>
      <div class="center-element">
       <%=  render 'bookings/new' %>
      </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <div class="user_description">
      <div class="avatar_heading">
         <h3><%= @service.user.name %></h3>
        <%=  cl_image_tag( @service.user.photo.key, alt: "avatar",:class => "avatar-bordered") %>
      </div>
      <div class= "user_description_small">
          <p>"<%= @service.user_description %>"</p>
        </div>
    </div>
  </div>


</div>
