<div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.digischool.fr/images/article/comment-bien-reussir-ses-examens--lg-3927.jpg)">
  Mon profil
</div>

<div class="container mb-5">
  <div class="d-flex justify-content-between my-4">
    <div>
      <button type="button" class="btn btn-flat" data-toggle="modal">
        <%= link_to 'Ajouter une prestation', new_service_path, class: 'btn btn-flat' %>
      </button>
    </div>
  </div>
  <div class="row my-2">
    <% @services.each do |service| %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <%= cl_image_tag service.photo.key,  class: 'card-img rounded-top' %>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= service.name %> <span class="text-muted font-weight-normal">• <%= service.user.name %> <i class="fas fa-star star-yellow"></i></span></strong>
            <small class="text-muted"><%= service.price %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <small class="text-right flex-shrink-0"><%= link_to 'Voir plus', service_path(service.id)%></small>
              <small class="text-right flex-shrink-0"><%= link_to 'Modifier', edit_service_path(service.id)%></small>
              <small class="text-right flex-shrink-0"><%= link_to 'Supprimer', service_path(service.id), method: :delete, data: { confirm: "Are you sure you want to remove #{service.name} from your service"}, class: 'text-danger' %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


<div class="container mb-5">
  <div class="d-flex justify-content-between my-4">
    <div>
      <button type="button" class="btn btn-flat" data-toggle="modal">
        <%= link_to 'Ajouter une réservation', root_path, class: 'btn btn-flat' %>
      </button>
    </div>
  </div>
  <div class="row my-2">
    <% @bookings.each do |booking| %>
      <div class="col-12 col-sm-6 mb-4" data-aos="zoom-in">
        <div class="bg-white rounded shadow h-100">
          <img src="https://www.francetvinfo.fr/image/75wj5xfs2-97ce/580/326/23486965.jpg" alt="" class= 'card-img rounded-top'>
          <div class="p-3 rounded-bottom d-flex flex-column">
            <strong><%= booking.service.name %> <span class="text-muted font-weight-normal">• <%= booking.service.user.name %> <i class="fas fa-star star-yellow"></i></span></strong>
            <small class="text-muted"><%= booking.service.price %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
              <small class="text-right flex-shrink-0"><%= link_to 'Voir plus', service_path(booking.service.id)%></small>
              <small class="text-right flex-shrink-0"><%= link_to 'Modifier', edit_service_booking_path(booking.id, service_id: booking.service.id)%></small>
              <small class="text-right flex-shrink-0"><%= link_to 'Supprimer', booking_path(booking.id), method: :delete, data: { confirm: "Are you sure you want to remove #{booking.service.name} from your service"}, class: 'text-danger' %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

