<!-- Banner -->
<div id="hero-search" >
  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)), url(https://mir-s3-cdn-cf.behance.net/project_modules/disp/87146171481981.5bd810c153a71.gif);">
    <div class="container">
      <h1>My <strong>success</strong> partner <strong></h1>
      <p>La réussite en 3 clicks</p>
    </div>
</div>
    <div id="booking" class="section">
    <div class="section-center">
      <div class="container ">
        <div class="row ">
          <div class="booking-form">
            <%= form_tag services_path, method: :get do %>
              <%= text_field_tag :query,params[:query],
              class: "form-group",
              placeholder: "Ma ville" %>
               <%= text_field_tag :query2,params[:query2],
              class: "form-group",
              placeholder: "Examen" %>
               <%= date_field_tag :query3,params[:query3],
              class: "form-group",
              placeholder: "Date" %>
              <%= submit_tag "Rechercher", class: "btn btn-flat" %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Card-Grids -->
<div class="title" id="top">
<h1>Nos Catégories</h1>
   <div class="content">
      <div class="card">
            <div class="icon"><i class="material-icons md-36"></i></div>
            <p class="title">Anglais</p>
            <p class="text">Découvez toutes les prestations d'anglais.</p>
      </div>

      <div class="card">
            <div class="icon"><i class="material-icons md-36"></i></div>
            <p class="title">Permis</p>
            <p class="text">Découvez toutes les prestations de permis.</p>
      </div>

      <div class="card">
            <div class="icon"><i class="material-icons md-36"></i></div>
            <p class="title">Maths</p>
            <p class="text">Découvez toutes les prestations de maths.</p>
      </div>
   </div>
   <div class="content">
    <div class="card">
            <div class="icon"><i class="material-icons md-36"></i></div>
            <p class="title">BAC</p>
            <p class="text">Découvez toutes les prestations d'anglais.</p>
      </div>

      <div class="card">
            <div class="icon"><i class="material-icons md-36"></i></div>
            <p class="title">MEDECINE</p>
            <p class="text">Découvez toutes les prestations de permis.</p>
      </div>
</div>
